.material-icons.md-18 {
	font-size:18px;
	cursor:pointer;
}
a{
	color:white;
}
html {
	width:100%;
	height:100%;
	font-family: 'Libre Barcode 39 Text', cursive;
	background-color: #202020
}
h1 {
	font-weight:normal;
	font-size:50px;
	line-height:55px;
	color: white;
	margin:0;
}
#main{
	margin: auto;
	position: absolute;
	text-align: center;
	height: 107px;
	width: 204px;
	top: 0; left: 0; bottom: 0; right: 0;
}
#icons{
	top:8px;
	left:30px;
	color:white;
	position:absolute;
}